textarea {
  resize: none;
  height: 30px;
  width: auto;
  font-weight: bold;
  color: black;
}

input {
  margin-bottom: 18px;
  border-style: none;
}

.headerCardBoard {
  display: flex;
}

.textDescripcion {
  height: 80px;
  overflow: hidden;
}

.taModalCreateTask {
  border-color: var(--bs-dark);
}

#divCreate {
  display: flex;
  justify-content: start;
  align-content: center;
}

.divDescripcion {
  height: 130px;
}

.pModalCreateTask {
  color: var(--bs-danger);
}

#btnAddTask {
  transform: translate(116px);
}

#cardBoard {
  border-style: none;
}

#divCardsTasks {
  transform: translate(-25px) rotate(0deg);
}

.tasksCards {
  width: 463.328px;
  padding: 0px;
  margin: 14px;
  margin-top: 0px;
  border: var(--bs-card-border-width) solid var(--bs-card-border-color);
  border-radius: var(--bs-card-border-radius);
  border-radius: var(--bs-card-border-radius);
  color: var(--bs-body-color);
  word-wrap: break-word;
}

.divUpdateTask {
  display: flex;
  justify-content: start;
  align-content: center;
}

.btnCollapsePendientes {
  width: 100%;
  margin-top: 7px;
  margin-bottom: 7px;
}

.btnCollapseFinalizado {
  width: 100%;
  margin-top: 7px;
  margin-bottom: 7px;
}

.btnCollapsePendientes:hover {
  background-color: var(--bs-dark);
}

.modal Label {
  font-weight: bold;
}

/* Dashboard */

.rowCountDashboard {
  justify-content: center;
}
